body {
    margin: 0;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

textarea {
    height: 200px;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    margin: 3px 0;
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar-link {
    margin: 3px 0;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.message {
    margin-top: 20px;
}

.message #button {
    margin-top: 10px;
}

.content {
    margin-top: 12px;
    min-height: 85vh;
}
.navigation {
    display: flex;
    float: right;
}

#editButton {
    text-decoration: none;
    color: white;
    margin: 0 4px;
}